body {
  background-color: #282c34;
  font-size: calc(8px + 2vmin);
  color: white;
  text-align: center;
}

.green {
  color: #61dafb;
}

.column {
  display: flex;
  flex-direction: column;
}

button {
  width: 70px;
  height: 33px;
  margin-top: 5px;
  background-color: transparent;
  border: ridge 4px;
  border-radius: 20px;
  color: white;
  font-weight: 600;
  padding: 0;
}

.vertical-bar {
  border: ridge 4px;
  border-radius: 20px;
  width: 2px;
  height: 120px;
  margin-top: auto;
  margin-bottom: auto;
}

/********** HEADER **********/

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/********** APP CONTENT **********/

.App-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly
}

section {
  min-width: 33%;
}

.autocomplete-input {
  outline-style: outset;
  width: 200px;
  padding: 5px;
  border-radius: 5px;
}

.dropdown-container {
  overflow-y: auto;
  max-height: 200px;
}

.preview .dropdown-item {
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}

/*********** PREVIEW ***********/

.preview {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.preview-container {
  min-height: 185px;
}

.preview-display-container {
  display: flex;
  min-height: 157px;
  border: ridge 6px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.preview-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  text-overflow: ellipsis;

}

.preview img {
  margin: auto;
}

.preview-bottom {
    display: flex;
    justify-content: space-evenly;
}

/********** FILTER **********/

.filter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 185px;
}

/********** NUMBERS **********/

.numbers {
  display: flex;
  flex-direction: column;
  margin-top: 185px;
}