body {
  background-color: #282c34;
  font-size: calc(6px + 2vmin);
  color: white;
  text-align: center;
  margin-bottom: 75px;
  cursor: default;
}

h1 {
  margin: .5em .5em .1em;
}

i {
  color: #76d8f9;
  font-size: calc(10px + 1vmin);
}

.dropdown-container::-webkit-scrollbar {
  width: 16px;
}

.dropdown-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.dropdown-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #61dafb;
  outline: 1px solid white;
}

.green {
  color: #76d8f9;
}

.highlight {
  display: contents;
  color: #76d8f9;
}

.btn-box {
  display: flex;
  width: fit-content;
  margin: 15px auto;

}

button {
  width: 80px;
  height: 30px;
  margin: 5px 10px 0px;
  background-color: transparent;
  border: ridge 3px;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  padding: 2px;
}

.horizontal-bar {
  border: ridge 4px;
  border-radius: 20px;
  width: 60%;
  height: 4px;
  margin: 0px auto 5px;
}

.top.horizontal-bar {
  margin-bottom: 15px;
  margin-top: 5px;
  border-color: #76d8f9;
}

.header {
  margin-bottom: 4em;
}

/********** APP CONTENT **********/

.App-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-bottom: 4em;
  width: 90%;
}

.blank {
  display: none;
}

.preview {
  height: 600px;
}

.numbers {
  height: 640px;
}

.order {
  height: 600px;
}

.style {
  height: 600px;
}

.title {
  font-size: calc(12px + 2vmin);
  margin-bottom: .25em;
}

.description-container {
  margin: 0 auto;
  list-style-position: outside;
  padding-inline-start: 10px;
  text-align: start;
}

.description {
  padding: 6px 0;
}

.autocomplete-input {
  border: ridge 1px #76d8f933;
  border-radius: 20px;
  background-color: white;
  outline: none;
  width: 240px;
  padding: 8px;
  margin: .25em 1em .25em;
  box-shadow: black 3px 3px 6px;
  font-size: 1em;
}

.dropdown-container {
  position: relative;
  left: 8px;
  overflow-y: auto;
  max-height: 220px;
  width: 235px;
  margin: 0 auto;
}

.dropdown-item {
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
}

.popup {
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

pre {
  font-size: calc(4px + 1.5vmin) !important;
  padding: 1em 3em !important;
  border: ridge 4px;
  border-radius: 20px !important;
  background-color: #121212 !important;
}

.close-btn {
  cursor: pointer;
  position: absolute;
  top: 5%;
  left: 80%;
  color: red;
  font-size: .8em;
}

.preview-section {
  display: none;
}


/********** FILTER **********/
.filter-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 70px;
}

/********** DESCENDING **********/
.descending {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 6px 0px;
  min-width: 95px;
}

@media only screen and (min-width: 820px) and (max-height: 800px){
  .card {
    position: absolute;
    background-color: white;
    height: 300px;
    width: 220px;
    margin: auto;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .middle-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-56%) translateX(-56%);
    font-size: 7em;
  }

  .top-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 79%;
    font-size: 3em;
    font-weight: 600;
  }

  .suit-top {
    margin-top: -20px;
  }

  .bottom-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 77%;
    font-size: 3em;
    font-weight: 600;
    transform: rotate(180deg);
  }
  
}

@media only screen and (min-width: 820px) and (min-height: 801px){
  .card {
    position: absolute;
    background-color: white;
    height: 300px;
    width: 220px;
    margin: auto;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .middle-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-56%) translateX(-56%);
    font-size: 6em;
  }

  .top-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 77%;
    font-size: 2.75em;
    font-weight: 600;
  }

  .suit-top {
    margin-top: -25px;
  }

  .bottom-right {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 77%;
    font-size: 2.75em;
    font-weight: 600;
    transform: rotate(180deg);
  }
  
}



@media only screen and (min-width: 820px) {
  body {
    font-size: calc(2px + 2vmin);
  }

  pre {
    font-size: calc(7px + 1vmin) !important;
    padding: 1em 5em !important
  }

  .App-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5%;
  }

  section {
    width: 50%;
    height: 800px;
    margin-bottom: 4em;
  }

  .numbers {
    height: 900px;
   }

  .style {
   height: 900px;
  }

  button {
    width: fit-content;
    padding: 5px;

  }

  .autocomplete-input {
    width: 280px;
  }

  .dropdown-container {
    max-height: 300px;
  }

  .order {
    height: 850px;
  }

  /*********** PREVIEW ***********/
  .preview {
    margin-bottom: 5em;
    height: 850px;
  }

  .preview-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30%;
    right: 5%;
    border: ridge 6px;
    border-radius: 20px;
    padding-bottom: 1em;
    height: 350px;
    width: 30%;
  }

  .preview-section img {
    margin: auto;
  }

  .preview-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 200px;
    text-overflow: ellipsis;
  }

  .App-logo {
    z-index: 1;
    /* transform: translate(-50%, -50%); */
    pointer-events: none;
  }

  /* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  } */

  
  .order {
    margin-bottom: 5em;
  }
}

@media only screen and (min-width: 1020px) and (max-height: 800px) {
  .middle-card {
    font-size: 7em;
  }

  .top-left {
    right: 75%;
    font-size: 3.5em;
  }

  .bottom-right {
    left: 75%;
    font-size: 3.5em;
  }

  .suit-top {
    margin-top: -25px;
  }
}

@media only screen and (min-width: 1020px) and (min-height: 801px) {
.middle-card {
  font-size: 5.5em;
}

.top-left {
  right: 75%;
  font-size: 2.75em;
}

.bottom-right {
  left: 75%;
  font-size: 2.75em;
}

.suit-top {
  margin-top: -30px;
}
}

@media only screen and (min-width: 1020px) {
  

  /* .title {
    font-size: calc(6px + 2vmin);
  } */

  .preview-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 10%;
    border: ridge 6px;
    border-radius: 20px;
    padding-bottom: 1em;
    height: 300px;
    width: 25%;
  }

  .order {
    margin-bottom: 6em;
  }

  button {
    width: fit-content;
    height: fit-content;
   
  }

  .autocomplete-input {
    width: 280px;
  }

}


@media only screen and (min-width: 1420px) {
  section {
    height: 640px;
  }
  .top-left {
    right: 75%;
    font-size: 3em;
  }

  .bottom-right {
    left: 75%;
    font-size: 3em;
  }

  .suit-top {
    margin-top: -30px;
  }

  .middle-card {
    font-size: 6em;
  }

  .descending {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 6px 0px;
    min-width: 115px;
  }

  .preview-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 15%;
    border: ridge 6px;
    border-radius: 20px;
    padding-bottom: 1em;
    height: 300px;
    width: 25%;
  }
}

@media only screen and (min-width: 1420px) and (max-height: 800px) {
  .middle-card {
    font-size: 6em;
  }
  
  .top-left {
    right: 75%;
    font-size: 3.75em;
  }
  
  .bottom-right {
    left: 75%;
    font-size: 3.75em;
  }
  
  .suit-top {
    margin-top: -25px;
  }
}